<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/xhtml" xml:lang="ja" lang="ja">
  <% include head.ejs %>
  <body>
    <div id="header" class="item-content">
      <a href="/upload"><div class="float-right btn btn-info">Upload<i class="icon-chevron-right icon-white"></i></div></a>
      <div class="float-clear">
        Select by Genre:&nbsp;
        <select onChange="selectGenre(this)">
          <option value="">ALL</option>
          <option value="<%= genres[0].shortName %>"><%= genres[0].name %></option>
          <option value="<%= genres[1].shortName %>"><%= genres[1].name %></option>
        </select>
      </div>
    </div>
    <hr />
    <div id="lessons" class="unit">
      <% lessons.forEach(function(lesson){ %>
      <div class="box box-genre-<%= genres[lesson.genre].shortName %>">
        <div class="item-content">
          <div class="left-item"><%= lesson.date %></div>
          <!--div class="right-item">(by <%= lesson.uploader %> ) </div-->
        </div>
        <div class="margin-left"><i class="icon-user"></i> <%= lesson.instructor %></div>
        <div class="margin-left"><i class="icon-music"></i> <%= genres[lesson.genre].name %></div>
        <% if(lesson.description){ %>
        <div class="margin-left"><i class="icon-tag"></i> <%= lesson.description %></div>
        <% } %>
        <div class="margin-left" onClick="toggleMovie(this)">
          <div class="show-movie link"><i class="icon-film"></i><i class="icon-hand-right"></i> Show video<!--i class="icon-chevron-down"></i--></div>
          <div class="hide-movie link" style="display:none;"><i class="icon-film"></i><i class="icon-hand-right"></i> Hide video<!--i class="icon-chevron-up"></i--></div>
          <iframe src="" data-src="<%= lesson.youtube %>" allowfullscreen style="display:none;border:none;"></iframe>
        </div>
      </div>
      <% }) %>
    </div>
    <% include foot.ejs %>
  </body>
</html>
